
.searchListContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.searchListWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.searchList{
    flex: 1;
    background-color: #2b1142;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
}


.listSearchTitle{
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    
}


.listSearchItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: white;
}



.listSearchItem>label{
    font-size: 14px;
    border-radius: 5px;
}

.listSearchItem>span{
    color: black;
    border-radius: 5px;
}


.listSearchItem>input{
    height: 20px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: black;
}


.listOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: white;
    font-size: 14px;
}

.listOptionInput{
    width: 50px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.listOption{
    padding: 10px;
}


.listSearchItem>span{
    height: 20px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.searchList>button{
    padding: 10px;
    background-color: #cfc1da;
    color: black;
    border: none;
    width: 100%;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    font-weight: bold;
}

.searchList>button:hover{
    background-color: #9e89af;
}












.listResults{
    flex: 3;
}