@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;600&display=swap');

.navBar{
    height: 70px;
    background-color: #2b1142;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    /* background-color: aqua; */
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-family: 'Unbounded', cursive;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 36px;
    color: rgb(228, 209, 222);
}

.spanClass{
    color: red;
}


.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white !important;
    background-color: #2b1142;
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;


}