.login {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .lContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .lInput{
    height: 30px;
    width: 100%;
    padding: 10px;
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }

  .errorMsg{
    margin-top: 50px;
    color: rgb(237, 231, 231);
    font-weight: bold;
  }